<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- دسترسی اینترنت -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- دسترسی لوکیشن (اختیاری اگر موقعیت کاربر را می‌خواهید) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rahban3">
        <meta-data
            android:name="org.maplibre.android.API_KEY"
            android:value="mobile.3367da0fdeaa4a5cb400afce23d399ff" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity_splash"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity_login"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity_complate_parent_information"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity_search_school"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".RequestAddSchool"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity_school_services"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity_driver_profile1"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity_student_info"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity_request_status"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity_payment_confirmation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity_live_tracking"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity_trip_history"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity_profile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".driver_activity_splash"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".driver_activity_login"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".driver_activity_home"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".driver_activity_today_trips"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".driver_activity_live_tracking"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".driver_activity_requests"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".driver_activity_register"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".driver_activity_profile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".driver_activity_service_students"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".driver_activity_notifications"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>